SECRET_KEY=your_django_secret_key
# Set to False in production
DEBUG=True

# AWS Region for Bedrock (e.g., ap-south-1, us-east-1)
AWS_REGION=your_aws_region
AWS_ACCESS_KEY_ID =your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key


# Database configuration (example for PostgreSQL)
DATABASE_USER =your_database_user
DATABASE_PASSWORD =your_database_password
DATABASE_HOST =your_database_host
DATABASE_PORT = 5432
DATABASE_NAME =your_database_name
DATABASE_ENGINE =django.db.backends.postgresql